body {
  position: absolute;
  transform-origin: center;
  transition: transform 0.01s;
  transition: left 0.01s;
  transition: top 0.01s;
  transition: filter 0.01s;
  left: 0;
  top: 0;
  filter: blur(0px);
}
